.cround {
    border-radius: 10px !important;
}

.myclass {
    margin: 10% 3%;
}

.hovs:hover {
    cursor: pointer;
}

.myclass h3 {
    text-align: center;
}

.myclass span {
    margin-right: 10%;
    float: right;

}

.myclass .panel-body {
    padding: 0 0;
}

.myclass table {
    padding: 15px 15px;
    margin: auto;
}

.myclass .panel-body input {
    width: 90%;
    margin: 3% 5%;
    text-align: center;
}

.myclass .panel-body td {
    width: 45%;
    text-align: center;
}